In [1]:
import pandas as pd

In [2]:
import numpy as np

In [46]:
files = ['survey_results_public.csv', 'survey_results_schema.csv']
df = pd.read_csv('data/{}'.format(files[0]))
df_dict = pd.read_csv('data/{}'.format(files[1]))

In [162]:
pro['OrgSize'].unique()

array(['20 to 99 employees', '100 to 499 employees',
       'Just me - I am a freelancer, sole proprietor, etc.',
       '10,000 or more employees', '10 to 19 employees',
       '1,000 to 4,999 employees', '500 to 999 employees', nan,
       '5,000 to 9,999 employees', '2 to 9 employees', 'I don’t know'],
      dtype=object)

In [166]:
sum((pro['EdLevel'].dropna().value_counts(normalize=True)*100).round(2))

100.00000000000001

In [167]:
sum((pro['OrgSize'].dropna().value_counts(normalize=True)*100).round(2))

100.0

In [102]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [112]:
df['CompFreq'].unique()

array(['Monthly', nan, 'Yearly', 'Weekly'], dtype=object)

In [106]:
df['Age'].unique()

array(['25-34 years old', '18-24 years old', '35-44 years old',
       'Prefer not to say', '45-54 years old', 'Under 18 years old',
       '65 years or older', '55-64 years old', nan], dtype=object)

In [104]:
df['LanguageHaveWorkedWith'].str.contains('Python')

0        False
1         True
2         True
3        False
4         True
         ...
83434    False
83435      NaN
83436     True
83437     True
83438    False
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

# Q5

In [126]:
pro['DevType'].str.split(';', expand=False)

0                                      [Developer, mobile]
3                                   [Developer, front-end]
4        [Developer, desktop or enterprise applications...
8                                   [Developer, front-end]
9          [Data scientist or machine learning specialist]
                               ...
83434                                [Developer, back-end]
83435                              [Developer, full-stack]
83436    [Data scientist or machine learning specialist...
83437                                [Developer, back-end]
83438    [Developer, front-end, Developer, full-stack, ...
Name: DevType, Length: 58153, dtype: object

66484

In [154]:
pro

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [152]:
pro_mask = df['MainBranch']=='I am a developer by profession'

pro = df[pro_mask].copy()

dev_types = []
type_col = pro['DevType'].str.split(';', expand=False)

for lst in type_col.dropna(): dev_types+=lst
    
dev_types = np.unique(dev_types); dev_types

dev_type_cnt = {dev_type: 0 for dev_type in dev_types}

cnt=0

for dev_type in dev_types:    
    for type_list in type_col:

        if type(type_list)==list:
#        if type_list:
            
            cnt+=1
            if dev_type in type_list:
                dev_type_cnt[dev_type] += 1

dev_prop = pd.Series(dev_type_cnt) / len(type_col.dropna())

dev_prop = (dev_prop*100).sort_values(ascending=False)

In [153]:
dev_prop

Developer, full-stack                            55.289056
Developer, back-end                              48.943264
Developer, front-end                             30.190912
Developer, desktop or enterprise applications    18.314959
Developer, mobile                                16.253473
DevOps specialist                                10.959935
Database administrator                            8.636730
System administrator                              8.150937
Developer, embedded applications or devices       7.543246
Designer                                          6.661289
Engineer, data                                    6.162947
Data scientist or machine learning specialist     5.759613
Developer, QA or test                             5.621583
Engineering manager                               5.472797
Data or business analyst                          4.610558
Product manager                                   4.117594
Student                                           3.667653
Engineer, site reliability                        3.452541
Developer, game or graphics                       3.221296
Other (please specify):                           3.029488
Academic researcher                               2.904006
Senior Executive (C-Suite, VP, etc.)              2.868155
Educator                                          2.819754
Scientist                                         2.106301
Marketing or sales professional                   0.575424
dtype: float64

In [134]:
for key in dev_type_cnt.keys(): dev_type_cnt[key] =

TypeError: unsupported operand type(s) for /: 'dict_values' and 'int'

In [129]:
pd.DataFrame(dev_type_cnt)

ValueError: If using all scalar values, you must pass an index

In [45]:
df['Employment'].unique()

array(['Independent contractor, freelancer, or self-employed',
       'Student, full-time', 'Employed full-time', 'Student, part-time',
       'I prefer not to say', 'Employed part-time',
       'Not employed, but looking for work', 'Retired',
       'Not employed, and not looking for work', nan], dtype=object)

In [53]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [67]:
df['MainBranch'].value_counts()

I am a developer by profession                                                   58153
I am a student who is learning to code                                           12029
I am not primarily a developer, but I write code sometimes as part of my work     6578
I code primarily as a hobby                                                       4929
I used to be a developer by profession, but no longer am                          1237
None of these                                                                      513
Name: MainBranch, dtype: int64

In [63]:
df_dict[df_dict['qname']=='DevType']['question'].values

array(['Which of the following describes your current job? Please select all that apply.'],
      dtype=object)

In [12]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [124]:
df[['CompTotal', 'Country']].dropna().value_counts().to_frame()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [121]:
df['CompTotal']

0          4800.0
1             NaN
2             NaN
3             NaN
4             NaN
           ...
83434    160500.0
83435    200000.0
83436      1800.0
83437     90000.0
83438      7700.0
Name: CompTotal, Length: 83439, dtype: float64