# Conflicts Related to Environmental Injustice and Health in Brazil

#### Import python modules and packages

In [1]:
import pandas as pd

# Set the maximum column width to a specific value (e.g., 100)
# pd.set_option('display.max_colwidth', 100)

## Exploratory Data Analysis & Data Cleaning

#### Load table as pandas dataframe

In [2]:
df = pd.read_csv('Dados/Mapa de Conflitos no Brasil.csv')

#### Count missing values

In [3]:
df.isna().sum()

Nome                                 0
UF                                   3
Município                            0
Populações                           8
Atividades Geradoras do Conflito    20
Danos à Saúde                       30
Impactos Socioambientais            32
dtype: int64

#### Replace NAN values to enable string comparison

In [4]:
df.fillna('', inplace=True)

#### Display rows for fields with multiple values

In [5]:
print('\nLinhas com municípios múltiplos:')
display(df[df['Município'].str.contains(',')][['UF', 'Município']])
print('\nLinhas com estados (UFs) múltiplos:')
display(df[df['UF'].str.contains(',')][['UF', 'Município']])

Linhas com municípios múltiplos:

             UF                                          Município
286      MT, PA  Peixoto de Azevedo (MT), Sinop (MT), Trairão (PA)
303  MA, PA, TO  Açailândia (MA), Canaã dos Carajás (PA), Eldor...
513          RS  Eldorado do Sul (RS), Glorinha (RS), Gravataí ...

Linhas com estados (UFs) múltiplos:

             UF                                          Município
50       AC, AM                                  Boca do Acre (AM)
51       AM, RO                                       Humaitá (AM)
64       ES, MG                                       Mariana (MG)
286      MT, PA  Peixoto de Azevedo (MT), Sinop (MT), Trairão (PA)
303  MA, PA, TO  Açailândia (MA), Canaã dos Carajás (PA), Eldor...
549      AM, SP                                     São Paulo (SP)

#### Duplicate rows with multiple city names (Use corresponding city states)

In [6]:
rows = []
for idx in df.index:
    row = df.loc[idx].copy()
    cities = row['Município'].split(', ')
    for city in cities:
        words = city.split(' ')
        city_state = words[-1][1:3] # slice the enclosing parenthesis out
        city_name = ' '.join(words[:-1])
        row['Município'] = city_name
        row['UF'] = city_state
        rows.append(dict(row))

conflicts = pd.DataFrame(rows)

#### Report if there is any row left with multiple values for `city` or `UF` fields

In [7]:
print('\nLinhas com municípios múltiplos:')
display(conflicts[conflicts['Município'].str.contains(',')][['UF', 'Município']])
print('\nLinhas com estados (UFs) múltiplos:')
display(conflicts[conflicts['UF'].str.contains(',')][['UF', 'Município']])

Linhas com municípios múltiplos:

Empty DataFrame
Columns: [UF, Município]
Index: []

Linhas com estados (UFs) múltiplos:

Empty DataFrame
Columns: [UF, Município]
Index: []

## Save clean dataframe

In [8]:
conflicts.to_excel('Resultados/conflitos-injustiça-ambiental-e-saúde.xlsx', index=False)

conflicts.head()

,Nome,UF,Município,Populações,Atividades Geradoras do Conflito,Danos à Saúde,Impactos Socioambientais
0,"AC - 21 anos depois da morte de Chico Mendes, ...",AC,Xapuri,"Agricultores familiares, Seringueiros","Atuação de entidades governamentais, Madeireiras","Desnutrição, Insegurança alimentar, Piora na q...",Alteração no regime tradicional de uso e ocupa...
1,AC - Agricultores familiares são transformados...,AC,Sena Madureira,Agricultores familiares,"Madeireiras, Monoculturas, Pecuária","Violência - ameaça, Violência - lesão corporal",Alteração no regime tradicional de uso e ocupa...
2,AC - Atividades petroleiras destroem a Amazôni...,AC,Cruzeiro do Sul,"Agricultores familiares, Extrativistas, Povos ...",Indústria química e petroquímica,"Acidentes, Doenças transmissíveis, Violência -...",Alteração no regime tradicional de uso e ocupa...
3,AC - Em Feijó e municípios vizinhos indígenas ...,AC,Feijó,Povos indígenas,Atuação de entidades governamentais,"Desnutrição, Doenças não transmissíveis ou crô...",
4,AC - Mais de duzentas famílias de agricultores...,AC,Capixaba,"Agricultores familiares, Seringueiros","Atuação de entidades governamentais, Pecuária","Falta de atendimento médico, Piora na qualidad...",Alteração no regime tradicional de uso e ocupa...