# ANÁLISE DOS REGISTROS DO SISTEMA COMANDO DE OCORRÊNCIAS COM ORIGEM METEOROLÓGICA

---

### Notebook Sections:
1. Exploratory Data Analysis
    1. Asses general quality of the dataset
    2. Check potential of the dataset to serve as catalog of incidents caused by rain, for predicive modeling.
2. Data Cleaning

### Importar modulos e funções

In [2]:
import os, pandas as pd, numpy as np, matplotlib.pyplot as plt, requests, json, folium
import seaborn as sns; sns.set()
from folium import plugins
from IPython.display import Image

### Definir classe 'data' com endereço dos dados
class data:
    path = r'C:\Users\luisr\Desktop\Repositories\Dados\Desafio COR-Rio IV\\'
    AlertaAPI = r'http://websempre.rio.rj.gov.br/json/chuvas'

### Carregando dados

In [3]:
comando = pd.read_csv(data.path + 'comando.csv')

c:\Users\luisr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

---
# Exploratory Data Analysis for Data Cleaning

### 1. Asses data types

##### Check first rows

In [25]:
comando.head(3)

,EVENTO_ID,EVENTO_TITULO,EVENTO_DESCRICAO,EVENTO_GRAVIDADE,EVENTO_BAIRRO,STATUS,EVENTO_INICIO,EVENTO_INICIO_HORA,EVENTO_FIM,EVENTO_FIM_HORA,EVENTO_PRAZO,EVENTO_LATITUDE,EVENTO_LONGITUDE,POP_TITULO,POP_DESCRICAO,ORGAO_SIGLA,ORGAO_NOME,ACAO
0,2,"Ac mt e tx, na LVermelha, sent Centro, altura ...","Ac mt e tx, na LVermelha, sent Centro, altura ...",BAIXO,NaN,FECHADO,2015-02-23,12:13:00,2015-02-23,14:18:00,NaN,0.0,0.0,Acidente com vítima(s),Acidente com vítima(s),CET-RIO,Companhia de Engenharia de Tráfego,Desfazer o acidente
1,2,"Ac mt e tx, na LVermelha, sent Centro, altura ...","Ac mt e tx, na LVermelha, sent Centro, altura ...",BAIXO,NaN,FECHADO,2015-02-23,12:13:00,2015-02-23,14:18:00,NaN,NaN,0.0,Acidente com vítima(s),Acidente com vítima(s),CET-RIO,Companhia de Engenharia de Tráfego,Organizar o trânsito
2,2,"Ac mt e tx, na LVermelha, sent Centro, altura ...","Ac mt e tx, na LVermelha, sent Centro, altura ...",BAIXO,NaN,FECHADO,2015-02-23,12:13:00,2015-02-23,14:18:00,NaN,0.0,0.0,Acidente com vítima(s),Acidente com vítima(s),BOMBEIROS,Corpo de Bombeiros,Atender vítima(s)

##### Identify variables' types

In [23]:
cols = {
    'text': [
        'EVENTO_TITULO', 'EVENTO_DESCRICAO'
    ],
    'categorical': [
        'EVENTO_GRAVIDADE', 'EVENTO_BAIRRO', 'STATUS', 'EVENTO_PRAZO',
        'POP_TITULO', 'POP_DESCRICAO', 'ORGAO_SIGLA', 'ORGAO_NOME', 'ACAO'
    ],
    'datetime': [
        'EVENTO_INICIO', 'EVENTO_INICIO_HORA',
        'EVENTO_FIM', 'EVENTO_FIM_HORA'
    ],
    'location': [
        'EVENTO_LATITUDE', 'EVENTO_LONGITUDE'
    ]
}

#### Check raw data types

In [32]:
comando.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EVENTO_ID           5 non-null      int64
 1   EVENTO_TITULO       5 non-null      object
 2   EVENTO_DESCRICAO    5 non-null      object
 3   EVENTO_GRAVIDADE    5 non-null      object
 4   EVENTO_BAIRRO       0 non-null      object
 5   STATUS              5 non-null      object
 6   EVENTO_INICIO       5 non-null      object
 7   EVENTO_INICIO_HORA  5 non-null      object
 8   EVENTO_FIM          5 non-null      object
 9   EVENTO_FIM_HORA     5 non-null      object
 10  EVENTO_PRAZO        0 non-null      object
 11  EVENTO_LATITUDE     4 non-null      float64
 12  EVENTO_LONGITUDE    5 non-null      float64
 13  POP_TITULO          5 non-null      object
 14  POP_DESCRICAO       5 non-null      object
 15  ORGAO_SIGLA         5 non-null      object
 16  ORGAO_NOME          5 non-null      object
 17  ACAO                5 non-null      object
dtypes: float64(2), int64(1), object(15)
memory usage: 848.0+ bytes

Conclusion: Only datetime variables require type conversion.

### 2. Asses categorical values

Categorical columns (unique categories):
* EVENTO_GRAVIDADE (BAIXO, MEDIO, ALTO, SEM_CLASSIFICAÇÃO, CRITICO). Extra values: Litoral do Rio de Janeiro
* EVENTO_BAIRRO (339) - Desestruturado
    * contém 'nan'
    * Valores de categorias não uniforme: Bairros de mesmo nome com escrita diferente.
    * Contem valores inválidos: Nomes de rua, números, endereços, etc.
    * Necessita método strip()
* EVENTO_STATUS (FECHADO, ABERTO). Extra values: FINALIZADO, Litoral do Rio de Janeiro
* (CURTO, MEDIO, LONGO)
* POP_TITULO (40)
* POP_DESCRICAO (42)
* ORGAO_SIGLA (34)
* ORGAO_NOME (35)
* ACAO (70)

In [ ]:
for col in cols['categorical']: # descomente para conferir valores unicos
    print('\n\n', col, ': ', len(comando[col].unique()), '\n')
    display(comando[col].value_counts())

### 3. Assess text variables

### 4. Asses location variables

### 5. Asses time variables

### 7. Check missing values notation uniformity

---
# Data Cleaning and Feature Engineering