In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\artur.alvarenga\appdata\local\programs\python\python310\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\artur.alvarenga\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\artur.alvarenga\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\artur.alvarenga\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\artur.alvarenga\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [1]:
import pandas as pd

In [61]:
df_public = pd.read_csv("data/survey_results_public.csv")

In [62]:
df_schema = pd.read_csv("data/survey_results_schema.csv")

In [63]:
print(df_schema.shape)

(48, 6)

In [64]:
pd.set_option("display.max_columns", 90)
pd.set_option("display.max_rows", 90)
pd.set_option("display.max_colwidth",300)

In [65]:
df_schema

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hello world! </strong></span></div>\n\n<div> </div>\n\n<div>Thank you for taking the 2021 Stack Overflow Developer Survey, the longest running survey of software developers (and anyone else who codes!) on Earth. </div>\n\n<div> </div>\n\n<div>As in prev...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: arial,helvetica,sans-serif; font-weight: 700;"">Basic Information</span><br>\n<br>\n<p><span style=""font-size:16px; font-family:arial,helvetica,sans-serif;"">The first section will focus on some basic information about who you are.<br>\n<br>\nMost question...",False,DB,TB
3,QID2,MainBranch,"Which of the following options best describes you today? Here, by ""developer"" we mean ""someone who writes code."" <b>*</b>",True,MC,SAVR
4,QID24,Employment,Which of the following best describes your current <b>employment status</b>?,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: bolder;"">*</span>",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do you live? <i>This information will be kept private.</i></p>,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you live? <i>This information will be kept private.</i>,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: arial,helvetica,sans-serif; font-weight: 700;"">Education, work, and career</span><br>\n<br>\n\n<p><span style=""font-size:16px; font-family:arial,helvetica,sans-serif;"">This section will focus on your education, work, and career.<br>\n<br>\nMost questions...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the highest level of formal education that youâ€™ve completed? *,False,MC,SAVR
10,QID149,Age1stCode,"At what age did you write your first line of code or program? (e.g., webpage, Hello World, Scratch project)",False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have you been coding in total?",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have you coded professionally (as a part of your work)?",False,MC,DL
14,QID31,DevType,Which of the following describes your current job? Please select all that apply.,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by the company or organization you currently work for?,False,MC,MAVR
16,QID50,Currency,"Which currency do you use day-to-day? If your answer is complicated, please pick the one you're most comfortable estimating in. *",True,MC,SB
17,QID51,CompTotal,"What is your current total compensation (salary, bonuses, and perks, before taxes and deductions), in ${q://QID50/ChoiceGroup/SelectedChoicesTextEntry}? Please enter a whole number in the box below, without any punctuation. If you are paid hourly, please estimate an equivalent weekly, monthly, o...",False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: arial,helvetica,sans-serif; font-weight: 700;"">Tech and tech culture</span><br>\n<br>\n\n<p><span style=""font-size:16px; font-family:arial,helvetica,sans-serif;"">The next set of questions will focus on technology and tech culture.<br>\n<br>\nMost questio...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup languages</b> have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the language and want to continue to do so, please check both boxes in that row.)",False,Matrix,Likert
21,QID262,Database,"Which <b>database environments </b>have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the database and want to continue to do so, please check both boxes in that row.)",False,Matrix,Likert
22,QID263,Platform,"Which <b>cloud platforms</b> have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the platform and want to continue to do so, please check both boxes in that row.)",False,Matrix,Likert
23,QID264,Webframe,"Which <strong>web frameworks </strong><span style=""font-weight: bolder;"">and libraries</span> have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the framework and want to continue to do so, please check bo...",False,Matrix,Likert
24,QID265,MiscTech,"Which <b>other frameworks and libraries</b> have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the framework and want to continue to do so, please check both boxes in that row.)",False,Matrix,Likert
25,QID275,ToolsTech,"Which <strong>tools</strong> have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the technology and want to continue to do so, please check both boxes in that row.)",False,Matrix,Likert
26,QID274,NEWCollabTools,"Which <strong>development environments</strong> did you use regularly over the past year, and which do you want to work with over the next year? Please check all that apply.",False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which you work? *,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem? Select all that apply.,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: arial,helvetica,sans-serif; font-weight: 700;"">Stack Overflow - usage and community</span><br>\n<br>\n\n<p><span style=""font-size:16px; font-family:arial,helvetica,sans-serif;"">This section will focus on Stack Overflow usage and community questions.<br>\...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites have you visited? Select all that apply.,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack Overflow?,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,"How frequently would you say you participate in Q&amp;A on Stack Overflow? By participate we mean ask, answer, vote for, or comment on questions.",False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack Overflow community?,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer communities?,False,MC,MAVR
36,QID268,NEWOtherCommsNames,"Please name up to 5 other online developer communities you belong to, and indicate whether they are public (anyone can join) or private (invitation required).",False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: arial,helvetica,sans-serif; font-weight: 700;"">Demographics</span><br>\n<br>\n\n<p><span style=""font-size: 16px;"">All questions in this section are optional, you may leave questions blank if you prefer not to answer. </span></p><p><span style=""font-size:...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? Please check all that apply.",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? Please check all that apply.",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? Please check all that apply.",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? Please check all that apply.",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? Please check all that apply.",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Questions</strong></span><div><span style=""font-family: arial, helvetica, sans-serif; font-size: 16px;""><br></span></div><div><span style=""font-family: arial, helvetica, sans-serif; font-size: 16px;"">You're almost done!</span></div>",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey this year?,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to complete?,False,MC,MAVR

In [66]:
df_public['CompTotal'].unique()

array([4.800e+03,       nan, 4.200e+04, ..., 8.880e+04, 6.500e+01,
       1.605e+05])

In [67]:
df_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [68]:
questions = ['MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 
        'Age', 'Gender', 'Trans', 'Sexuality',
       'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly','OpSys'
        ]

In [69]:
df_public = df_public[questions]

In [70]:
branch = {
    "I am a developer by profession": "Profissional",
    "I am a student who is learning to code": "Estudante",
    "I am not primarily a developer, but I write code sometimes as part of my work": "NÃ£o Ã© DEV",
    "I code primarily as a hobby": "Hobby",
    "I used to be a developer by profession, but no longer am": "Ex-profissional",
    "None of these": "Sem informaÃ§Ã£o"
}

In [71]:
df_public['Resume MainBranch'] = df_public['MainBranch'].apply(lambda x: branch.get(x,"invÃ¡lido")).astype("string")

In [72]:
df_public.drop(labels="MainBranch", axis="columns", inplace=True)

In [73]:
questions2 = ['YearsCode','YearsCodePro']

In [74]:
questions22 = ['CompTotal','ConvertedCompYearly']

In [75]:
df_public.loc[:,questions2] = df_public.loc[:,questions2].apply(pd.to_numeric, args=("coerce",), axis='index')

In [76]:
media = df_public[questions2].apply(pd.Series.mean, axis='index').astype(int)

In [77]:
for col in questions2:
    df_public.get(col).fillna(value=media.get(col), inplace=True)

In [78]:
def print_col_numbers(*cols):
    for col in cols:
        print(col)
        try:
            print(df_public[col].unique())
            print(df_public[col].unique().shape)
        except:
            print(f"Column {col} nÃ£o existe.")
        print("\n\n")

In [79]:
print_col_numbers(*questions2)

YearsCode
[12.  7. 17.  3.  4.  6. 16. 15. 10. 40.  9. 26. 14. 39. 20.  8. 19.  5.
 22.  2.  1. 34. 21. 13. 25. 24. 30. 31. 18. 38. 27. 41. 42. 35. 23. 28.
 11. 37. 44. 43. 36. 33. 45. 29. 50. 46. 32. 47. 49. 48.]
(50,)



YearsCodePro
[ 9. 10.  4.  5.  6.  2. 30. 18. 12. 21.  1. 16. 15.  3. 35.  7.  8. 17.
 14. 26. 25. 20. 50. 34. 11. 24. 22. 13. 31. 23. 39. 41. 27. 28. 19. 33.
 37. 29. 32. 43. 40. 38. 45. 42. 46. 36. 44. 47. 48. 49.]
(50,)

In [80]:
df_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Employment              83323 non-null  object
 1   Country                 83439 non-null  object
 2   US_State                14920 non-null  object
 3   UK_Country              4418 non-null   object
 4   EdLevel                 83126 non-null  object
 5   Age1stCode              83243 non-null  object
 6   LearnCode               82963 non-null  object
 7   YearsCode               83439 non-null  float64
 8   YearsCodePro            83439 non-null  float64
 9   DevType                 66484 non-null  object
 10  OrgSize                 60726 non-null  object
 11  Currency                61080 non-null  object
 12  CompTotal               47183 non-null  float64
 13  CompFreq                52150 non-null  object
 14  LanguageHaveWorkedWith  82357 non-null  object
 15  LanguageWantToWorkWith  76821 non-null  object
 16  Age                     82407 non-null  object
 17  Gender                  82286 non-null  object
 18  Trans                   80678 non-null  object
 19  Sexuality               73366 non-null  object
 20  Accessibility           77603 non-null  object
 21  MentalHealth            76920 non-null  object
 22  SurveyLength            81711 non-null  object
 23  SurveyEase              81948 non-null  object
 24  ConvertedCompYearly     46844 non-null  float64
 25  OpSys                   83294 non-null  object
 26  Resume MainBranch       83439 non-null  string
dtypes: float64(4), object(22), string(1)
memory usage: 17.2+ MB

In [81]:
col_string = set(df_public.columns) - set(questions2)

In [82]:
df_public.loc[:,col_string] = df_public.loc[:,col_string].astype("string")

ValueError: StringArray requires a sequence of strings or pandas.NA

In [84]:
df_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Employment              83323 non-null  object
 1   Country                 83439 non-null  object
 2   US_State                14920 non-null  object
 3   UK_Country              4418 non-null   object
 4   EdLevel                 83126 non-null  object
 5   Age1stCode              83243 non-null  object
 6   LearnCode               82963 non-null  object
 7   YearsCode               83439 non-null  float64
 8   YearsCodePro            83439 non-null  float64
 9   DevType                 66484 non-null  object
 10  OrgSize                 60726 non-null  object
 11  Currency                61080 non-null  object
 12  CompTotal               47183 non-null  float64
 13  CompFreq                52150 non-null  object
 14  LanguageHaveWorkedWith  82357 non-null  object
 15  LanguageWantToWorkWith  76821 non-null  object
 16  Age                     82407 non-null  object
 17  Gender                  82286 non-null  object
 18  Trans                   80678 non-null  object
 19  Sexuality               73366 non-null  object
 20  Accessibility           77603 non-null  object
 21  MentalHealth            76920 non-null  object
 22  SurveyLength            81711 non-null  object
 23  SurveyEase              81948 non-null  object
 24  ConvertedCompYearly     46844 non-null  float64
 25  OpSys                   83294 non-null  object
 26  Resume MainBranch       83439 non-null  string
dtypes: float64(4), object(22), string(1)
memory usage: 17.2+ MB

In [85]:
#1Âº pergunta


#Porcentagem das pessoas que responderam que se consideram profissionais, nÃ£o profissionais, estudante, hobby, 

df_public["Resume MainBranch"].dropna().value_counts(normalize=True)*100

AttributeError: 'IntegerArray' object has no attribute 'sum'

In [ ]:
#2Âº pergunta

#DistribuiÃ§Ã£o das pessoas que responderam por localidade. Qual o paÃ­s que teve maior participaÃ§Ã£o?

dfa = df_public["Country"].dropna().value_counts(normalize=True)*100

df = df_public.dropna(subset=["Country"], axis=0).groupby(by="Country")["Resume MainBranch"].count()

print(df.sort_values(ascending=False))
print(dfa)

In [ ]:
#3Âº pergunta

#Qual a distribuiÃ§Ã£o nÃ­vel de estudo dos participantes?

In [83]:
df_public['EdLevel'].unique()

array(['Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)',
       'Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Other doctoral degree (Ph.D., Ed.D., etc.)',
       'Some college/university study without earning a degree',
       'Something else', 'Professional degree (JD, MD, etc.)',
       'Primary/elementary school', 'Associate degree (A.A., A.S., etc.)',
       nan], dtype=object)

In [ ]:
b ranch2= {
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "Secondary school",
    "Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)": "Bachelorâ€™s degree",
    "Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)": "Masterâ€™s degree",
    "Other doctoral degree (Ph.D., Ed.D., etc.)": "Other doctoral degree",
    "Some college/university study without earning a degree": "Without degree but was student",
    "Something else": "Sem informaÃ§Ã£o",
    "Professional degree (JD, MD, etc.)" : "Professional degree",
    "Primary/elementary school": "Primary/elementary school",
    "Associate degree (A.A., A.S., etc.)": "Associate degree"  
}

In [ ]:
df_public['Resume EdLevel'] = df_public['EdLevel'].apply(lambda x: branch2.get(x,"invÃ¡lido")).astype("string")

In [25]:
df_public.drop(labels="EdLevel", axis="columns", inplace=True)

In [ ]:
df_public['Resume EdLevel'].unique()

In [ ]:
df_public["Resume EdLevel"].dropna().value_counts(normalize=True)*100

In [30]:
#4Âº pergunta

#Qual a distribuÃ§Ã£o de tempo de trabalho para cada tipo de profissional respondido na questÃ£o 1.


#a) Levando em consideraÃ§Ã£o a Idade do 1stCode 
df_public.dropna(subset=["Resume MainBranch"], axis=0).groupby(by="Resume MainBranch")["Age1stCode"].value_counts(normalize=True)*100

Resume MainBranch  Age1stCode
Estudante          11 - 17 years           56.933211
                   18 - 24 years           23.847244
                   5 - 10 years            13.766364
                   25 - 34 years            2.885016
                   Younger than 5 years     1.692654
                   35 - 44 years            0.650379
                   45 - 54 years            0.091720
                   55 - 64 years            0.066706
                   Older than 64 years      0.066706
Ex-profissional    11 - 17 years           44.849959
                   18 - 24 years           24.817518
                   5 - 10 years            17.518248
                   25 - 34 years            4.622871
                   35 - 44 years            2.676399
                   45 - 54 years            2.027575
                   Younger than 5 years     1.703163
                   55 - 64 years            1.378751
                   Older than 64 years      0.405515
Hobby              11 - 17 years           48.949623
                   5 - 10 years            34.346319
                   18 - 24 years            8.892515
                   25 - 34 years            3.181725
                   Younger than 5 years     1.917194
                   35 - 44 years            1.427697
                   45 - 54 years            0.611870
                   55 - 64 years            0.448705
                   Older than 64 years      0.224352
NÃ£o Ã© DEV          11 - 17 years           47.806884
                   18 - 24 years           23.926287
                   5 - 10 years            14.240024
                   25 - 34 years            7.493147
                   35 - 44 years            3.045995
                   45 - 54 years            1.583917
                   Younger than 5 years     1.035638
                   55 - 64 years            0.685349
                   Older than 64 years      0.182760
Profissional       11 - 17 years           53.538954
                   18 - 24 years           25.490804
                   5 - 10 years            12.356203
                   25 - 34 years            5.314459
                   35 - 44 years            1.551629
                   Younger than 5 years     0.859337
                   45 - 54 years            0.599297
                   55 - 64 years            0.246263
                   Older than 64 years      0.043053
Sem informaÃ§Ã£o     11 - 17 years           33.541667
                   18 - 24 years           18.750000
                   25 - 34 years           12.916667
                   5 - 10 years            12.291667
                   35 - 44 years            6.250000
                   45 - 54 years            5.416667
                   Older than 64 years      4.583333
                   Younger than 5 years     4.166667
                   55 - 64 years            2.083333
Name: Age1stCode, dtype: float64

In [31]:
#4Âº pergunta

#Qual a distribuÃ§Ã£o de tempo de trabalho para cada tipo de profissional respondido na questÃ£o 1.


#b) Levando em consideraÃ§Ã£o o tempo mÃ©dio do primeiro cÃ³digo com aprendizado em cursos

df_public.dropna(subset=["Resume MainBranch"], axis=0).groupby(by="Resume MainBranch")["YearsCode"].apply(pd.Series.mean, axis='index').astype(int).sort_values(ascending=False)

Resume MainBranch
Ex-profissional    20
NÃ£o Ã© DEV          14
Profissional       13
Sem informaÃ§Ã£o     11
Hobby               7
Estudante           5
Name: YearsCode, dtype: int32

In [32]:
#4Âº pergunta

#Qual a distribuÃ§Ã£o de tempo de trabalho para cada tipo de profissional respondido na questÃ£o 1.


#c) Levando em consideraÃ§Ã£o o tempo mÃ©dio do primeiro cÃ³digo profissional

df_public.dropna(subset=["Resume MainBranch"], axis=0).groupby(by="Resume MainBranch")["YearsCodePro"].apply(pd.Series.mean, axis='index').astype(int).sort_values(ascending=False)

Resume MainBranch
Ex-profissional    14
NÃ£o Ã© DEV          10
Sem informaÃ§Ã£o      9
Profissional        9
Hobby               9
Estudante           9
Name: YearsCodePro, dtype: int32

In [33]:
#5Âº pergunta

#Das pessoas que trabalham profissionalmente: 

#a)qual a profissÃ£o delas?

In [34]:
questions4 = ['DevType', 'Resume MainBranch']
teste2 = df_public[questions4]
df_mask = teste2['Resume MainBranch'] == "Profissional" 
filtered_df = teste2[df_mask]
a = filtered_df['DevType'].str.split(";", expand=True)
b = a.drop(columns=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24])
c = b.rename({0 : "DevType"}, axis='columns')

c["DevType"].dropna().value_counts(normalize=True)*100
# quantidade c["DevType"].dropna().value_counts()

Developer, full-stack                            27.600609
Developer, front-end                             22.088375
Developer, mobile                                16.253473
Developer, back-end                              13.702608
Developer, desktop or enterprise applications     8.837501
Engineer, data                                    2.825132
Data scientist or machine learning specialist     2.362642
Other (please specify):                           1.382092
Developer, embedded applications or devices       1.382092
DevOps specialist                                 0.579009
Developer, QA or test                             0.501927
Academic researcher                               0.489379
Engineering manager                               0.480416
Developer, game or graphics                       0.371067
Senior Executive (C-Suite, VP, etc.)              0.302949
Data or business analyst                          0.161334
Student                                           0.146993
Scientist                                         0.127274
Engineer, site reliability                        0.109348
Database administrator                            0.109348
Product manager                                   0.057363
Designer                                          0.050193
System administrator                              0.039437
Educator                                          0.035852
Marketing or sales professional                   0.003585
Name: DevType, dtype: float64

In [35]:
#5Âº pergunta

#Das pessoas que trabalham profissionalmente: 

#b)qual a escolaridade?

In [60]:
pro_mask = df['MainBranch']=='I am a developer by profession'

pro = df[pro_mask].copy()

dev_types = []
type_col = pro['DevType'].str.split(';', expand=False)

for lst in type_col.dropna(): dev_types+=lst
    
dev_types = np.unique(dev_types); dev_types

dev_type_cnt = {dev_type: 0 for dev_type in dev_types}

cnt=0

for dev_type in dev_types:    
    for type_list in type_col:

        if type(type_list)==list:
#        if type_list:
            
            cnt+=1
            if dev_type in type_list:
                dev_type_cnt[dev_type] += 1

dev_prop = pd.Series(dev_type_cnt) / len(type_col.dropna())

dev_prop = (dev_prop*100).sort_values(ascending=False)

NameError: name 'df' is not defined

In [36]:
questions3 = ['Resume EdLevel', 'Resume MainBranch']
teste = df_public.loc[:,questions3]
df_mask = teste['Resume MainBranch'] == "Profissional" 
filtered_df = teste[df_mask]
filtered_df.dropna(subset=["Resume EdLevel"], axis=0).groupby(by="Resume EdLevel")["Resume MainBranch"].count().sort_values(ascending=False)

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [37]:
#5Âº pergunta

#Das pessoas que trabalham profissionalmente: 

#c)qual o tamanho das empresas de pessoas que trabalham profissionalmente?

In [38]:
questions5 = ['OrgSize', 'Resume MainBranch']
teste5 = df_public[questions5]
df_mask = teste5['Resume MainBranch'] == "Profissional" 
filtered_df = teste5[df_mask]
filtered_df.dropna(subset=["OrgSize"], axis=0).groupby(by="OrgSize")["Resume MainBranch"].count().sort_values(ascending=False)

OrgSize
20 to 99 employees                                    11709
100 to 499 employees                                   9631
10,000 or more employees                               6961
2 to 9 employees                                       6081
1,000 to 4,999 employees                               5472
10 to 19 employees                                     5092
Just me - I am a freelancer, sole proprietor, etc.     3573
500 to 999 employees                                   3388
5,000 to 9,999 employees                               1937
I donâ€™t know                                           1138
Name: Resume MainBranch, dtype: int64

In [39]:
#validaÃ§Ã£o do total de orgsize e resume mainbranch
#df_public.dropna(subset=["OrgSize"], axis=0).groupby(by="OrgSize")["Resume MainBranch"].count().sort_values(ascending=False)
#filtered_df.dropna(subset=["OrgSize"], axis=0).groupby(by="OrgSize")["Resume MainBranch"].count()

In [40]:
#6Âº pergunta

#A) MÃ©dia salarial das pessoas que responderam.
#Avaliando por Monthly

In [45]:
questions23 = ['CompTotal']
df_public[questions23] = df_public.loc[:,questions23].apply(pd.to_numeric, args=("coerce",), axis='index')

questions24 = ['CompTotal','CompFreq']
teste = df_public[questions24]

df_mask = teste['CompFreq'] == "Monthly" 

filtered_df = teste[df_mask]

filtro = filtered_df['CompTotal'] > 1

x = filtered_df[filtro]

a = x.dropna().value_counts()
b = a[a > 50]
c = b.to_frame().reset_index()

d = ['CompTotal']

media = c[d].apply(pd.Series.mean, axis='index')
#c['CompTotal'].sort_values(ascending=False)
#p = c['CompTotal'] == 800000000
#pa = c[p]
#pa
media

In [47]:
#6Âº pergunta

#B) MÃ©dia salarial das pessoas que responderam.
#Avaliando por Weekly

In [48]:
questions25 = ['CompTotal']
df_public[questions25] = df_public.loc[:,questions25].apply(pd.to_numeric, args=("coerce",), axis='index')

questions26 = ['CompTotal','CompFreq']
teste = df_public[questions26]

df_mask = teste['CompFreq'] == "Weekly" 

filtered_df = teste[df_mask]

filtro = filtered_df['CompTotal'] > 1

x = filtered_df[filtro]

a = x.dropna().value_counts()
b = a[a > 10]
c = b.to_frame().reset_index()

d = ['CompTotal']

media = c[d].apply(pd.Series.mean, axis='index')
#p = c['CompTotal'] == 40000000
#pa = c[p]
#pa
#c['CompTotal'].sort_values(ascending=False)
media

CompTotal    10634.782609
dtype: float64

In [49]:
#6Âº pergunta

#c) MÃ©dia salarial das pessoas que responderam.
#Avaliando por Yearly

In [50]:
questions28 = ['CompTotal']
df_public[questions28] = df_public.loc[:,questions28].apply(pd.to_numeric, args=("coerce",), axis='index')

questions29 = ['CompTotal','CompFreq']
teste = df_public[questions29]

df_mask = teste['CompFreq'] == "Yearly" 

filtered_df = teste[df_mask]

filtro = filtered_df['CompTotal'] > 1

x = filtered_df[filtro]

a = x.dropna().value_counts()
b = a[a > 10]
c = b.to_frame().reset_index()

d = ['CompTotal']

media = c[d].apply(pd.Series.mean, axis='index')
#p = c['CompTotal'] == 40000000
#pa = c[p]
#pa
#c['CompTotal'].sort_values(ascending=False)
media

CompTotal    669454.365079
dtype: float64

In [51]:
#7Âº pergunta

#Pegando os 5 paÃ­ses que mais responderam o questionÃ¡rio, qual Ã© o salÃ¡rio destas pessoas?

In [59]:
df_public['Country'].value_counts().head()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
Name: Country, dtype: int64

In [50]:
questions30 = ['Country','CompTotal', 'CompFreq']

teste = df_public[questions30]
values = ['United States of America', 'India', 'Germany', 
          'United Kingdom of Great Britain and Northern Ireland', 'Canada']

filtered_df = teste[teste.Country.isin(values)]

filtro = filtered_df['CompTotal'] > 1
x = filtered_df[filtro]

x.dropna().groupby(by=['Country', 'CompFreq']).mean()#.sort_values(ascending=False)

In [47]:
a = x.dropna().value_counts()
b = a[a > 50]
c = b.to_frame().reset_index()

d = c.groupby(by='Country')['CompTotal'].mean().sort_values(ascending=False)
e = c.groupby(by='Country')['CompTotal'].max().sort_values(ascending=False)
f = c.groupby(by='Country')['CompTotal'].min().sort_values(ascending=False)

print(d)
print(e)
print(f)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [52]:
questions30 = ['Country','CompTotal']
teste = df_public[questions30]
values = ['United States of America', 'India', 'Germany', 
          'United Kingdom of Great Britain and Northern Ireland', 'Canada']

filtered_df = teste[teste.Country.isin(values)]

filtro = filtered_df['CompTotal'] > 1
x = filtered_df[filtro]

a = x.dropna().value_counts()
b = a[a > 50]
c = b.to_frame().reset_index()

d = c.groupby(by='Country')['CompTotal'].mean().sort_values(ascending=False)
e = c.groupby(by='Country')['CompTotal'].max().sort_values(ascending=False)
f = c.groupby(by='Country')['CompTotal'].min().sort_values(ascending=False)

print(d)
print(e)
print(f)

Country
India                                                   832058.823529
United States of America                                144571.428571
Canada                                                   95000.000000
United Kingdom of Great Britain and Northern Ireland     61153.846154
Germany                                                  54000.000000
Name: CompTotal, dtype: float64
Country
India                                                   2000000.0
United States of America                                 300000.0
Canada                                                   120000.0
Germany                                                  100000.0
United Kingdom of Great Britain and Northern Ireland     100000.0
Name: CompTotal, dtype: float64
Country
Canada                                                  70000.0
United States of America                                50000.0
United Kingdom of Great Britain and Northern Ireland    30000.0
India                                                   25000.0
Germany                                                  3000.0
Name: CompTotal, dtype: float64

In [53]:
#8Âº pergunta

#Qual a porcentagem das pessoas que trabalham com python?

In [54]:
a = df_public['LanguageHaveWorkedWith'].str.contains('Python').dropna().value_counts()
b = 82357
c = a / b *100
c

False    51.683524
True     48.316476
Name: LanguageHaveWorkedWith, dtype: Float64

In [55]:
#9Âº Sobre o python

#a)Qual o nÃ­vel de salÃ¡rio de quem trabalha com python globalmente?

In [56]:
questions9 = ['LanguageHaveWorkedWith', 'CompTotal']
teste = df_public[questions9]
df_mask = teste['LanguageHaveWorkedWith'].str.contains('Python') 
filtered_df = teste[df_mask]
filtro = filtered_df['CompTotal'] > 1
x = filtered_df[filtro]

a = x.dropna().value_counts()
b = a[a > 1]
c = b.to_frame().reset_index()
d = ['CompTotal']
media = c[d].apply(pd.Series.mean, axis='index')

media

CompTotal    398065.864571
dtype: float64

In [57]:
#9Âº Sobre o python

#b)Para o Brasil, qual o nÃ­vel salarial?

In [58]:
questions9b = ['LanguageHaveWorkedWith', 'CompTotal','Country']
teste = df_public[questions9b]

df_mask = teste['LanguageHaveWorkedWith'].str.contains('Python') 
filtered_df = teste[df_mask]

df_mask2 = filtered_df['Country'] == "Brazil" 
filtered_df2 = filtered_df[df_mask2]

filtro = filtered_df2['CompTotal'] > 1
x = filtered_df2[filtro]

a = x.dropna().value_counts()
b = a[a > 0]
c = b.to_frame().reset_index()
d = ['CompTotal']
media = c[d].apply(pd.Series.mean, axis='index')

media

CompTotal    36896.15935
dtype: float64

In [59]:
#9Âº Sobre o python

#c)Para os 5 paÃ­ses que mais tiveram participaÃ§Ã£o, qual a mÃ©dia salarial?

In [60]:
values = ['United States of America', 'India', 'Germany', 
          'United Kingdom of Great Britain and Northern Ireland', 'Canada']

filtered_df = teste[teste.Country.isin(values)]

questions9c = ['LanguageHaveWorkedWith', 'CompTotal','Country']
teste = df_public[questions9c]

df_mask = teste['LanguageHaveWorkedWith'].str.contains('Python') 
filtered_df = teste[df_mask]

filtered_df2 = filtered_df[filtered_df.Country.isin(values)]

filtro = filtered_df2['CompTotal'] > 1 
filtered_df3 = filtered_df2[filtro]

filtro2 = filtered_df3['CompTotal'] < 1000000
x = filtered_df3[filtro2]

#a = x.dropna().value_counts()
#b = a[a > 0]
#c = b.to_frame().reset_index()
#d = ['CompTotal']

media = x.groupby(by='Country')['CompTotal'].mean().sort_values(ascending=False)
media

Country
India                                                   284143.132632
United States of America                                136289.091292
Canada                                                  105079.537221
United Kingdom of Great Britain and Northern Ireland     62530.334951
Germany                                                  49306.624726
Name: CompTotal, dtype: float64

In [61]:
#10Âº Pergunta

#De todos as pessoas, Qual o sistema operacional utilizado por elas

In [62]:
branch3 = {
    "MacOS": "MacOS",
    "Windows": "Windows",
    "Linux-based": "Linux-based",
    "BSD": "BSD",
    "Other (please specify):": "Other",
    "Windows Subsystem for Linux (WSL)": "WSL"
}

df_public['Resume OpSys'] = df_public['OpSys'].apply(lambda x: branch3.get(x,"Sem resposta")).astype("string")
df_public.drop(labels="OpSys", axis="columns", inplace=True)

In [63]:
questions10 = ['Resume OpSys']

teste10 = df_public[questions10]

df_public["Resume OpSys"].dropna().value_counts(normalize=True)*100

Windows          45.25222
Linux-based     25.273553
MacOS           25.148911
WSL              3.287432
Other            0.689126
BSD              0.174978
Sem resposta      0.17378
Name: Resume OpSys, dtype: Float64

In [64]:
#11Âº Pergunta

#Das pessoas que trabalham com python, qual a distribuiÃ§Ã£o de sistema operacional utilizado por elas

In [65]:
questions11 = ['LanguageHaveWorkedWith', 'Resume OpSys']
teste = df_public[questions11]
df_mask = teste['LanguageHaveWorkedWith'].str.contains('Python') 
filtered_df = teste[df_mask]

a = filtered_df.dropna(subset=["Resume OpSys"], axis=0).groupby(by="Resume OpSys")["LanguageHaveWorkedWith"].count().sort_values(ascending=False)
b = filtered_df["Resume OpSys"].dropna().value_counts(normalize=True)*100

print(a)
print(b)

Resume OpSys
Windows         15979
Linux-based     12922
MacOS            8916
WSL              1626
Other             277
BSD                45
Sem resposta       27
Name: LanguageHaveWorkedWith, dtype: int64
Windows         40.156313
Linux-based     32.473864
MacOS           22.406514
WSL              4.086248
Other             0.69612
BSD              0.113088
Sem resposta     0.067853
Name: Resume OpSys, dtype: Float64

In [66]:
#12Âº Pergunta

#Qual a mÃ©dia de idade das pessoas que responderam? A pergunta 11.

In [67]:
branch4 = {
    "Under 18 years old": 18,
    "18-24 years old": 21,
    "25-34 years old": 29.5,
    "35-44 years old": 39.5,
    "45-54 years old": 49.5,
    "55-64 years old": 59.5,
    "65 years or older": 65,
    "Prefer not to say": ,
}

df_public['Resume Ages'] = df_public['Age'].apply(lambda x: branch4.get(x,0))
df_public.drop(labels="Age", axis="columns", inplace=True)

In [70]:
questions12 = ['LanguageHaveWorkedWith', 'Resume OpSys', 'Resume Ages']
teste = df_public[questions12]
df_mask = teste['LanguageHaveWorkedWith'].str.contains('Python') 
filtered_df = teste[df_mask]

filtro = filtered_df['Resume Ages'] > 1 
filtered_df2 = filtered_df[filtro]

media = filtered_df2.groupby(by='Resume OpSys')['Resume Ages'].mean().sort_values(ascending=False)
media

Resume OpSys
BSD             40.250000
Sem resposta    35.705882
MacOS           34.928645
Other           33.803846
Linux-based     33.195324
WSL             30.672522
Windows         30.523112
Name: Resume Ages, dtype: float64

In [ ]:
#13Âº Pergunta

#E em python? Qual a mÃ©dia de idade?

In [80]:
questions13 = ['LanguageHaveWorkedWith', 'Resume Ages']
teste = df_public[questions13]
df_mask = teste['LanguageHaveWorkedWith'].str.contains('Python') 
filtered_df = teste[df_mask]

filtro = filtered_df['Resume Ages'] > 1 
filtered_df2 = filtered_df[filtro]

media = filtered_df2['Resume Ages'].mean()
media

32.42333931777379