In [39]:
import tkinter as tk

In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [35]:
import pandas as pd

# 1.

In [2]:
def juros(P=None, i=None, n=None, F=None):
    
    if F==None: F = P * (1 + i)**n; return F
    if P==None: P = F / (1 + i)**n; return P
    if i==None: i =  (F / P)**(1 / n) - 1; return i

In [3]:
import numpy as np

In [4]:
i1=0.03 # a semana
i2=0.046 # ao mes
i3 = 0.3

P=1000

n1 = 48
n2 = 12
n3=1

F1 = juros(P, n1, i1)
F2 = juros(P, n2, i2)
F3 = juros(P, n3, i3)

Ji = np.array([F1-P, F2-P, F3-P]); Ji/P

array([0.12384361, 0.12523024, 0.23114441])

In [5]:
F1, F2

(1123.8436146785018, 1125.2302376917203)

# 2.

In [6]:
n = 12         # Prestações
P = 63         # R$
val_cap = 7    # Valor das capitalizações

In [7]:
F = n * val_cap; print('F =', F)
i = (F - P) / P; print('i =', i)
i_b = juros(F=F, P=P, n=n);

(F-P)/n  / P

F = 84
i = 0.3333333333333333

0.027777777777777776

In [36]:
i_b

0.02426318074098921

# 3.

In [8]:
n = 4
F_a = 12000
F_b = 14038.31

P_b = F_a; 
i_b = (F_b / P_b)**(1 / n) - 1;
i_a = i_b; 
P_a = F_a / (1 + i_a)**n

In [9]:
i_b, i_a, P_a

(0.04000013483108811, 0.04000013483108811, 10257.644972934779)

In [19]:
P_a

10257.644972934779

# 4.

In [14]:
P = 183300
val_cap=34000
n = 7
#tx_retorno = 9%

In [15]:
F = n * val_cap  # valor das capitalizações
J = F - P;
i = J / P / n

In [16]:
F, J, i

(238000, 54700, 0.04263112773751072)

# 5.

In [45]:
tb1='''n

Saldo Devedor
Inicial

(a)

Juros

(b)

Amortização

(c)

Pagamentos

(d) = (b) + (c)

Saldo Devedor
Final

(e) = (a) – (c)

1

8.000

800

- 800

0

8.800

2

8.800

880

- 880

0

9.680

3

9.680

968

- 968

0

10.648

4

10.648

1.064,80

- 1.064,80

0

11.712,80

5

11.712,80

1.171,28

11.712,80

12.884,08

0'''

In [57]:
tb2='''n

Saldo Devedor
Inicial

(a)

Juros

(b)

Amortização

(c)

Pagamentos

(d) = (b) + (c)

Saldo Devedor
Final

(e) = (a) – (c)

1

8.000

800

0

800

8.000

2

8.000

800

0

800

8.000

3

8.000

800

0

800

8.000

4

8.000

800

0

800

8.000

5

8.000

800

8.000

8.800

0'''

In [47]:
tb3='''n

Saldo Devedor
Inicial

(a)

Juros

(b)

Amortização

(c)

Pagamentos

(d) = (b) + (c)

Saldo Devedor
Final

(e) = (a) – (c)

1

8.000

800

1.600

2.400

6.400

2

6.400

640

1.600

2.240

4.800

3

4.800

480

1.600

2.080

3.200

4

3.200

320

1.600

1.920

1.600

5

1.600

160

1.600

1.760

0'''

In [48]:
tb4='''n

Saldo Devedor
Inicial

(a)

Juros

(b)

Amortização

(c)

Pagamentos

(d) = (b) + (c)

Saldo Devedor
Final

(e) = (a) – (c)

1

8.000

800

1.310,38

2.110,38

6.689,62

2

6.689,62

668,96

1.441,42

2.110,38

5.248,20

3

5.248,20

524,82

1.585,56

2.110,38

3.662,64

4

3.662,64

366,26

1.774,12

2.110,38

1.918,52

5

1.918,52

191,85

1.918,52

2.110,38

0'''

In [64]:
tb5='''n

Saldo Devedor
Inicial

(a)

Juros

(b)

Amortização

(c)

Pagamentos

(d) = (b) + (c)

Saldo Devedor
Final

(e) = (a) – (c)

0

8.000

0

1.918,53

1.918,53

6.081,47

1

6.081,47

608,14

1.310,39

1.918,53

4.771,08

2

4.771,08

477,10

1.441,42

1.918,53

3.329,66

3

3.329,66

332,96

1.585,56

1.918,53

1.744,10

4

1.744,10

174,41

1.744,10

1.918,53

0'''

In [65]:
tbs = [tb1, tb2, tb3, tb4, tb5]

In [108]:
hd_fix = ['n',
 'Saldo Devedor Inicial',
 'Juros',
 'Amortização',
 'Pagamentos',
 'Saldo Devedor Final']

In [109]:
bd_i = [tb.split('\n\n')[11:] for tb in tbs]

df_i = []

for i, bdi in enumerate(bd_i):
    
    df_i.append(pd.DataFrame(np.reshape(bdi, (5,6)), columns=hd_fix).set_index('n'))
    print(i)

0
1
2
3
4

In [110]:
i=-1

In [114]:
i+=1
df_i[i]

  Saldo Devedor Inicial   Juros Amortização Pagamentos Saldo Devedor Final
n
1                 8.000     800    1.310,38   2.110,38            6.689,62
2              6.689,62  668,96    1.441,42   2.110,38            5.248,20
3              5.248,20  524,82    1.585,56   2.110,38            3.662,64
4              3.662,64  366,26    1.774,12   2.110,38            1.918,52
5              1.918,52  191,85    1.918,52   2.110,38                   0

In [115]:
names=['Ao final do período',
'Pagamento periódico de juros',
'Sistema de amortização constante – SAC',
'Sistema PRICE ou de pagamentos constantes',
'']

In [116]:
folder = '\\Users\luisr\Desktop\Disciplinas\MatFin\\tabelas\{}.xlsx'

In [117]:
for file, name in zip(df_i, names):
    
    file.to_excel(folder.format(name))
    print('{} saved'.format(name))

Ao final do período saved
Pagamento periódico de juros saved
Sistema de amortização constante – SAC saved
Sistema PRICE ou de pagamentos constantes saved
Série antecipada saved

In [120]:
df_i[0]

  Saldo Devedor Inicial     Juros Amortização Pagamentos Saldo Devedor Final
n
1                 8.000       800       - 800          0               8.800
2                 8.800       880       - 880          0               9.680
3                 9.680       968       - 968          0              10.648
4                10.648  1.064,80  - 1.064,80          0           11.712,80
5             11.712,80  1.171,28   11.712,80  12.884,08                   0

### Hidráulica

In [136]:
p_min = 1.2

In [157]:
dz = 8
L = 770
D = 0.3
h = 5

In [164]:
ploc = 99.4e3 # Pa

In [165]:
patm = ploc / 9806; 'patm', patm, 'mca'

('patm', 10.136651029981644, 'mca')

In [166]:
J = dz/L; 'J', round(J, 5), 'm/m'

('J', 0.01039, 'm/m')

In [171]:
patm

10.136651029981644

In [168]:
dp = patm - p_min

In [170]:
dh = (dp - dz); dh, dh/J

(0.9366510299816451, 90.15266163573334)